{% extends 'base_layout.html' %}

{% block content %}

    <div class="main-headline">
        <div class="main-text">
            <h2>Delete Event</h2>
        </div>
    </div>


    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete your event "{{ event.title }}"?</p>
        <div>
            <input value="Delete" type="submit">
        <a href="{% url 'events:list' %}">Cancel</a>
        
        </div>
        
    </form>





{% endblock content %}