{% extends 'base_layout.html' %}
      
{% block content %}

<div class="event-detail">
    <div class="event">
        <h2>{{object.title}}</h2>
        <div class="date-location">
            <p>Date of event: {{object.date}}</p>
            <p><i class="location-icon fas fa-map-marker-alt"></i> {{object.location}}</p>
    
        </div>
        
        <img class="event-img" src="{{object.photo.url}}" alt="photo">
        <p>{{object.description}}</p>
        
        
    </div>
    
    <p class="signed-username">Created by: {{object.author}} </p>
    <div class="two-buttons ">
        {% if object.author == user %}
        <a class ="btn btn-dark" href="{%url 'events:update' object.id %}">Edit</a>
        <a class ="btn btn-danger" href="{%url 'events:delete' object.id %}">Delete</a>
        {% endif %}
    </div>
    
    

    
    
</div>



{% endblock %}