{% extends 'base_layout.html' %}
      
{% block content %}

<div class="event-detail">
    <div class="event">
        <h2>{{event.title}}</h2>
        <img class="event-img" src="{{event.thumb.url}}" alt="photo">
        <p>{{event.description}}</p>
        <p>Location: {{event.location}}</p>
        <p>Date of event: {{event.date}}</p>
    </div>
    
    <p class="signed-username">Created by: ----- </p>
    

    
    <div>
        
        <a href="{%url 'events:delete' event.id %}">Delete</a>
    </div>
    
</div>


{% endblock %}