{% extends 'base_layout.html' %}
      
{% block content %}

<div class="event-detail">
    <div class="event">
        <h2>{{object.title}}</h2>
        <img class="event-img" src="{{object.thumb.url}}" alt="photo">
        <p>{{object.description}}</p>
        <p>Location: {{object.location}}</p>
        <p>Date of event: {{object.date}}</p>
    </div>
    
    <p class="signed-username">Created by: {{object.author}} </p>

    {% if object.author == user %}
        <a class ="btn btn-secondary" href="{%url 'events:update' object.id %}">Edit</a>
        <a class ="btn btn-secondary" href="{%url 'events:delete' object.id %}">Delete</a>
    {% endif %}
    

    
    
</div>



{% endblock %}