
{% extends 'base_layout.html' %}
      
{% block content %}
<style>
  body {
    background-image: url(https://i.pinimg.com/originals/dc/94/f1/dc94f1fc94f00ffe32a51cfa4a302acc.jpg);
    background-repeat: round;
    background-size: contain;
  }
</style>

  <!--Search bar -->
  <form class="form-inline my-2 my-lg-0 search-bar ">
    <div class="search">
      <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
    </div>
      
  </form>
  {% if user.is_authenticated %}
    <p class="welcome-user">Welcome, <b>{{ user.username }}</b>. Thanks for logging in.</p>
  {% endif %}

  <div class="create-event">
    <h4><a class="btn btn-info" href="{% url 'events:new_event' %}"> + Create Event</a></h4>
  </div>

  <!--Events listing-->

        <div class="list-events list-group events">
          {% for event in events %}
            <div class="event">

              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">{{event.date}}</h5>
                      <p class="card-text">{{event.snippet}}</p>
                      <a href="{% url 'events:detail' event.id%}" class="btn btn-dark">{{event.title}}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
  
    {% endblock %}

    