<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f7f6a0bf12.js" crossorigin="anonymous"></script>
</body>
</html>
    <title>Create Event</title>
</head>
<body>
    <header>
        <!--Navbar-->
        <div>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">AppName</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">How it Works</a>
                <a class="nav-item nav-link" href="#">About Us</a>
                <a class="nav-item nav-link" href="#">Log Out</a>
                <a class="nav-item nav-link" href="#">Get Started</a>
              </div>
            </div>
          </nav>
        </div>

        <div class="main-headline">
          <div class="main-text">
            <h2>Create Event</h2>
          
          </div>
        </div>
        <form class="login-form">
          <div class="form-group">
            <!--<label>Title</label>-->
            <input type="text" class="form-control" placeholder="Enter Title of Event">
          </div>

          <div class="form-group">
            <!--<label>Description</label>-->
            <input type="text" class="form-control" placeholder="Description of Event">
          </div>
          
          <div class="form-group">
            <!--<label>Location</label>-->
            <input type="text" class="form-control" placeholder="Location">
          </div>

        <div class="form-group">
            <!--<label>Date</label>-->
            <input type="date" class="form-control">
        </div>
        <!--Category dropdown-->
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Food</a>
                    <a class="dropdown-item" href="#">Jewelry</a>
                    <a class="dropdown-item" href="#">Produce</a>
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>    
        </div>
        <!--Photo upload-->
        <div class="form-group">
            
            <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile02">
                  <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Upload</span>
                </div>
              </div>
        </div>
        <!--Large preview button-->
        <div class="main-button ">
            <button type="button" class="btn btn-primary btn-lg">Preview</button>
        </div>
        </form>
        </div>

    </header>
    <footer>
        
    </footer>
</body>
</html>