{% extends 'base_layout.html' %}
      
{% block content %}
  <div class="main-headline">
    <div class="main-text">
      <h2>Diné supporting Diné</h2>
      <h4>Community events and forums that support rural living, Diné culture, and local economy. 
        <br><br>
        Get started to see what is happening your community.
      </h4>
    </div>
    <div class="main-button">
      <button type="button" class="btn btn-primary btn-lg">Get Started</button>
    </div>
  </div>
{% endblock %}
    